html{
  font-size: 18px;
}

body{
  background-color: #fff;
}

.fancy-title{
  font-family: 'Anton', sans-serif;
}

.sub-section-title{
  padding-bottom: 100px;
  padding-top: 50px;
  font-size: 42px;
}

.white-title-shadow{
  text-shadow: 7px 5px 5px #590606;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h2{
  color: #333;
}


a{
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

.red{
  color: #a94242;
}

.green-b{
  background-color: #a94242;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

.title-row{
  text-align: center;
}

/*Navigation bar styles*/

.navbar-default .navbar-brand{
  font-size: 2.25rem;
  color: #1d95cb;

}

.navbar-default .navbar-nav{
  font-size: 1.1rem;
}

/* Jumbotron Styles */

.jumbotron{
  position: relative;
  text-align: center;
  margin-bottom: 0;
  background-color: white;
  text-shadow: 4px 4px 5px grey;

}

.jumbotron-head{
  position: relative;
  overflow: hidden;
}

.jumbotron-head img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.89;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
}

.main-title{
  position: relative;
  margin-bottom:50px;
}

@media only screen and (max-width: 991px){
  .main-title{
    margin-bottom: 0;
    top: 60px;
  }
  .main-title h1{
    font-size: 100px;
  }
}

@media only screen and (max-width: 669px){
  .main-title h1{
    font-size: 62px;
  }
}

@media only screen and (max-width: 580px){
  .jumbotron{
    max-height: 380px;
  }
}

  @media only screen and (max-width: 506px){
    .main-title{
      top: 20px;
    }
  }

  @media only screen and (max-width: 480px){
    .jumbotron{
      max-height: 350px;
    }
  }

  @media only screen and (max-width: 425px){
    .jumbotron{
      max-height: 325px;
    }
  }

  @media only screen and (max-width: 418px){
    .main-title{
      top: 0;
    }
    .main-title h1{
      font-size: 31px;
    }
    .main-title h2{
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 375px){
    .jumbotron{
      max-height: 300px;
    }
  }

  @media only screen and (max-width: 320px){
    .jumbotron{
      max-height: 250px;
    }
  }

.jumbotron-head h1{
  color: #a94242;
  position: relative;
}

/* Menu Styles */

.menu{
  position: relative;
  margin-bottom: 100px;
  margin-top: 6.5rem;
  color: #a94242;
}

@media only screen and (max-width:1130px){
  .menu{
    top:-55px;
  }
}

@media only screen and (max-width: 1024px){
  .option{
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 991px){
  .option{
    display: none;
  }
}


.menu p{
  color: #333;
}

.menu-middle{
  margin-top:75px;
}

.option {
  transition: all 0.5s;
  text-shadow: 4px 4px 5px grey;

}

.option:hover{
  color:#d6413f;
  transform: scale(1.2);
  text-shadow: 10px 10px 7px grey;
}

/* About me styles */

.about{
  text-align: center;
  background-color: #a94242;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
  padding-top: 250px;
  color: white;
  position: relative;
  top: -25px;
}

@media only screen and (max-width: 1024px){
  .about{
    padding-top: 100px;
  }
}

@media only screen and (max-width: 768px){
  .about{
    padding-bottom: 200px;
  }
}

.about h1{
  margin-bottom: 30px;
  font-size: 42px;
}

.desc-about{
  display: inline-block;
  max-width: 50%;
  line-height: 1.5;
  font-size: 24px;
}

@media only screen and (max-width:480px){
  .desc-about{
    max-width: 70%;
    font-size: 16px;
  }
  .desc-about h1{
    font-size: 36px;
  }
}

/* skills section */

.skills{
  text-align: center;
  padding-bottom: 100px;
  width: 95%;
  background-color: white;
  position: relative;
  top: -100px;
  border-radius: 15px;
  border: 1px solid #e1e1e1;
}

@media only screen and (max-width: 991px){
  .skill{
    padding-bottom: 35px;
  }

  .skills .row{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px){
  .skills h1{
    padding-bottom: 65px;
  }
  .skills{
    padding-bottom: 50px;
  }
}

.skills p{
  font-weight: bold;
  color: #333;
}

.skills .row{
  margin-bottom: 30px;
}

.skills i{
  color: #a94242;
  text-shadow: 2px 4px 5px grey;

}

/* Project Section */

.projects{
  background-color: #a94242;
  position: relative;
  top: -100px;
  color: white;
  padding-bottom: 100px;
}

.project-title{
  margin-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px){

}

.project-row{
  margin-bottom: 30px;
  background-color: #9e3e3e;
}

.bottom-project{
  margin-bottom: 100px;
}

.project{
  margin-bottom: 30px;
}

.image-container{
  overflow: hidden;
  opacity: 0.92;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
}

.image-container:hover{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.image-container img{
  width: 100%;
  transition: all 0.3s;
  border: 1px solid darkgrey;
}

.image-container img:hover{
  transform: scale(1.2);
}

.project-desc{
  position: relative;
  z-index: 100;
  width: 80%;
  font-size: 18px;
}

/* Contact Section */

.contact{
  position: relative;
  top:-200px;
  border: 1px solid #e1e1e1;
  z-index: 101;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-option{
  padding: 15px 0 15px 0;
  text-align: center;
  text-shadow: 2px 4px 5px grey;
}

.contact-option:hover{
    text-shadow: 7px 7px 5px grey;
}

.contact-option i{
  color: #a94242;

}

.contact-desc{
  visibility: hidden;
  transition: all 0.35s;
}

.contact-button{
  transition: all 0.35s;
}

.contact-button:hover{
  transform: scale(1.2);
}

.contact-button:hover > .contact-desc{
  visibility: visible;
}
